<div class="photo">
	<img *ngIf="person.photo" [src]="person.photo['100']">
</div>
<div class="info">
	<h5><a *ngIf="person.firstName" [href]="'https://vk.com/id'+ person.id">{{person.fullName}}</a></h5>
	<p *ngIf="person.count">Friend count: {{person.count}}</p>
	<p *ngIf="person.bdate && person.bdate.day && person.bdate.month" >
		Birthday: {{person.bdate.day}}.{{person.bdate.month}}<span *ngIf="person.bdate.year">.{{person.bdate.year}}</span>
	</p>
	<p *ngIf="person.relation">Relation: {{person.relation}}</p>
</div>

