<ng-container *ngIf="person">
	<ng-container *ngIf="loadingStage">
		<p>Loading: {{loadingStage.persent}}%; total: {{loadingStage.resultCount}}</p>
	</ng-container>
	<ng-container *ngIf="possibleFrinedList">
		<p *ngIf="!loadingStage">Possible friends length: {{possibleFrinedList.list.length}}</p>
		<div *ngFor="let person of possibleFrinedFiltredList">
			<img *ngIf="person.photo" [src]="person.photo['50']">
			<span>Person id: {{person.id}}; Сommon friends: {{person.count}}</span>
		</div>
	</ng-container>

</ng-container>
