label{
	display: block;
	padding: 5px;
}
#navigation-stub{
	width: 300px;
	min-width: 300px;
}
#navigation{
	position: fixed;
	right: 0;
	width: 300px;
	min-width: 300px;
	background-color: #edeef0;
	border-radius: 10px;
	padding: 30px;
	margin: 10px;
	box-sizing: border-box;
}
#show-more{
	width: 100%;
	background-color: #edeef0;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	margin: 5px;
}
@media (max-width: 800px) {
	#navigation-stub{
		display: none;
	}
	#navigation{
		position: static;
	}
}
