<form id="navigation" (ngSubmit)="loadPosibleFriend()">
	<label>{{'USER_IDS' | translate}}
		<input type="number" placeholder="{{'USER_IDS' | translate}}" [(ngModel)]="userID" name="userID" (ngModelChange)="changeUser()">
	</label>
	<h2>{{'FILTERS' | translate}}</h2>
	<label>{{'SEX' | translate}}
		<select [(ngModel)]="filter.sex" name="sex" (ngModelChange)="changeFilter()">
			<option [ngValue]="0">{{'ANY' | translate}}</option>
			<option [ngValue]="1">{{'WOMAN' | translate}}</option>
			<option [ngValue]="2">{{'MAN' | translate}}</option>
		</select>
	</label>
	<label >{{'AGE_BEGIN' | translate}}
		<input type="number" placeholder="{{'AGE_BEGIN' | translate}}" [(ngModel)]="filter.age.start" name="ageBegin" (ngModelChange)="changeUser()">
	</label>
	<label>{{'AGE_END' | translate}}
		<input type="number" placeholder="{{'AGE_END' | translate}}" [(ngModel)]="filter.age.end" name="ageEnd" (ngModelChange)="changeUser()">
	</label>
	<label>
		<input type="checkbox" [(ngModel)]="filter.age.showWithout" name="showWithoutAge" (ngModelChange)="changeUser()">
		{{'SHOW_WITHOUT_AGE' | translate}}
	</label>
	<label>{{'RELATION' | translate}}
		<select [(ngModel)]="filter.relation.value" name="relation" (ngModelChange)="changeFilter()">
			<option [ngValue]="0">{{'NOT_SPECIFIED' | translate}}</option>
			<option [ngValue]="1">{{'SINGLE' | translate}}</option>
			<option [ngValue]="2">{{'IN_RELATIONSHIP' | translate}}</option>
			<option [ngValue]="3">{{'ENGAGED' | translate}}</option>
			<option [ngValue]="4">{{'MARRIED' | translate}}</option>
			<option [ngValue]="5">{{'COMPLICATED' | translate}}</option>
			<option [ngValue]="6">{{'SEARCHING' | translate}}</option>
			<option [ngValue]="7">{{'LOVE' | translate}}</option>
			<option [ngValue]="8">{{'CIVIL_UNION' | translate}}</option>
		</select>
	</label>
	<label>
		<input type="checkbox" [(ngModel)]="filter.relation.showWithout" name="showWithoutRelation" (ngModelChange)="changeUser()">
		{{'SHOW_WITHOUT_RELATION' | translate}}
	</label>
	<button type="submit">{{'LOADING' | translate}}</button>
</form>
<app-person *ngIf="person" [person]="person"></app-person>
<ng-container *ngIf="person">
	<ng-container *ngIf="loadingStage">
		<p>{{'LOADED' | translate}}: {{loadingStage.persent}}%; {{'TOTAL' | translate}}: {{loadingStage.resultCount}}</p>
	</ng-container>
	<div class="between-x">
		<div>
			<ng-container *ngIf="possibleFrinedList">
				<p *ngIf="!loadingStage">{{'FILTER_TARGET_LENGTH' | translate}}: {{posibleFriendsFilterLengthWithoutTrim}}</p>
				<div class="center-x wrap">
					<app-person [person]="person" *ngFor="let person of possibleFrinedFiltredList"></app-person>
				</div>
				<div id="show-more" *ngIf="posibleFriendsFilterLengthWithoutTrim > filter.length" (click)="showMore()">
						{{'SHOW_MORE' | translate}}
				</div>
			</ng-container>
		</div>
		<div id="navigation-stub"></div>
	</div>

</ng-container>
