.flex{
	display: flex;
}
.between-x{
	display: flex;
	justify-content: space-between;
}
.center-x{
	display: flex;
	justify-content: center;
}
.wrap{
	display: flex;
	flex-wrap: wrap;
}
.wrap-reverse{
	display: flex;
	flex-wrap: wrap-reverse;
}
.full-x{
	width: 100%;
}
.absolute{
	position: absolute;
}
.releative{
	position: relative
}
.input-with{
	width: 170px;
}
.group{
	border: 1px solid #999;
	display: block;
	border-radius: 10px;
	padding: 5px;
}
